<link rel="stylesheet" href="./css/main.css">

<div id="upload-form">
    <center>
    <div class="center">
        Name : <input type="text" id="name" /><br/><br/>
        Roll : <input type="text" id="roll" /><br/><br/>
        Year : <input type="text" id="year" /><br/><br/>
        Class Attended : <input type="text" id="clsatt" /><br/><br/>
        Total : <input type="text" id="tot" /><br/><br/><br/>
        <button id="insert" onclick="monkshu_env.components['upload-form'].insert()">Insert</button>&nbsp;&nbsp;
        <button id="update" onclick="monkshu_env.components['upload-form'].update()">Update</button>&nbsp;&nbsp;
        <button id="delete" onclick="monkshu_env.components['upload-form'].dele()">Delete</button>&nbsp;&nbsp;
        
    </div>
    </center>
</div>