<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/nav.css">


<nav class="nav-tap" id="hd-nav">
    <a class="logo" href="index.html"><h2>Student DataManagement</h2></a>
    <a href="index.html" >Home</a>
    <a onclick="monkshu_env.components['hd-nav'].move(1)" >Attendence</a>
    <a onclick="monkshu_env.components['hd-nav'].move(2)" >Results</a>
    <a onclick="monkshu_env.components['hd-nav'].move(3)" >Notifications</a>
    <a onclick="monkshu_env.components['hd-nav'].move(4)" >Upload</a>
</nav> <br/>