<link rel="stylesheet" href="./css/main.css">

<div id="att-div">
    <center>
        <div id="aft" class="center">
        Name : <label id="iname">name</label> <br/><br/>
        Roll : <label id="iroll">roll</label> <br/><br/>
        Year : <label id="iyear">year</label> <br/><br/>
        No. of classes attended : <label id="iatt">0</label> <br/><br/>
        Total no. of classes : <label id="itot">0</label> <br/><br/>
        Percentage : <label id="iper">0</label>%
        </div>
    </center>
</div>
